body{
	background-color: rgba(0,0,0,0.07);
}
img{
	max-width: 100%;
	height: auto;
}
h1{
	font-size: 50px;
}
h2{
	font-size: 30px;
}

/*HEADER*/
header{
	text-align: center;
}
header menu nav{
	display: inline-block;
	margin: 10px 20px;
	padding: 5px;
}
header menu nav:hover{
	color: rgba(0,0,0,0.5);
}
header img{
	max-width: 100%;
	height: auto;
}

/*MAIN*/
main .article{
	text-align: left;
	display: inline-block;
	width: 450px;
	margin: 5px;
	padding: 10px;
}

main .article img{
	margin: 5px;
	width: 150px;
}
main .article p {
	padding: 0 5px;
	margin: 5px 0;
}
main .article .intro{
	font-style : italic;
}

/*FOOTER*/
footer p{
	margin: 5px;
}