body{
	background-color: rgba(0,0,0,0.07);
}
img{
	max-width: 100%;
	height: auto;
}
h1{
	font-size: 50px;
}
h2{
	font-size: 30px;
}

/*HEADER*/
header{
	text-align: center;
}
header nav a{
	display: inline-block;
	margin: 10px 20px;
	padding: 5px;
	border: solid 1px rgb(210,210,210);
	background-color: rgb(250,250,250);
	cursor: pointer;
}
header nav a:hover{
	color: rgba(0,0,0,0.5);
	background-color: rgba(150,150,150,0.8);
}
header img{
	max-width: 100%;
	height: auto;
}

/*MAIN*/*
main{
	text-align: center;
	margin-bottom: 70px;
}
main .article{
	vertical-align: top;
	background-color: rgba(255,255,255,0.8);
	text-align: left;
	display: inline-block;
	width: 450px;
	margin: 5px;
	padding: 10px;
}
main .article img{
	margin: 5px;
	width: 150px;
}
main .article p {
	padding: 0 5px;
	margin: 5px 0;
}
main .article .intro{
	font-style : italic;
}

/*FOOTER*/
footer{
	background-color: black;
	padding: 5px;
}
footer p{
	color: white;
	margin: 5px;
}
footer .feuilles{
	margin-top: -80px;
	color:black;
}
footer .feuille{
	display: inline-block;
	font-family: aierbazziregular;
	font-size: 80px;
	margin: 0 12px;
}

/*MEDIA*/
@media only screen and (max-width: 700px){
	header nav a{
		display: block;
	}
	main .article{
		display: block;
		width: auto;
		padding: 10px;
	}
	main .article img{
		width: 80px;
		float: left;
	}
}
@media only screen and (max-width: 370px){
	main .article img{
		display: inline;
		float: left;
	}
	main .article h2{
		display: inline;
	}
	main p {
		visibility: hidden;
		display: none;
	}
	main .intro{
		visibility: visible;
		display: block;
	}
}