@media only screen and (max-width: 700px) {
  #site-wrapper {
    position: relative;
    overflow-x: hidden;
    width: 100%; } }
@media only screen and (max-width: 700px) {
  #site-wrapper #site-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transition: 1s ease all;
    -webkit-transition: 1s ease all;
    -moz-transition: 1s ease all;
    -o-transition: 1s ease all;
    -ms-transition: 1s ease all;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden; } }
@media only screen and (max-width: 700px) {
  #site-wrapper #site-canvas #site-menu {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -300px;
    background: #5a5a5a; } }
#site-wrapper #site-canvas #small-menu {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transition: 1s ease all;
  -webkit-transition: 1s ease all;
  -moz-transition: 1s ease all;
  -o-transition: 1s ease all;
  -ms-transition: 1s ease all; }

@media only screen and (max-width: 700px) {
  .show-nav #site-canvas {
    transform: translateX(300px) !important;
    -webkit-transform: translateX(300px) !important;
    -moz-transform: translateX(300px) !important;
    -o-transform: translateX(300px) !important;
    -ms-transform: translateX(300px) !important;
    transform: translate3d(300px, 0, 0) !important;
    -webkit-transform: translate3d(300px, 0, 0) !important;
    -moz-transform: translate3d(300px, 0, 0) !important;
    -o-transform: translate3d(300px, 0, 0) !important;
    -ms-transform: translate3d(300px, 0, 0) !important; } }
@media only screen and (max-width: 700px) {
  .show-nav #small-menu {
    transform: translateX(-70px) !important;
    -webkit-transform: translateX(-70px) !important;
    -moz-transform: translateX(-70px) !important;
    -o-transform: translateX(-70px) !important;
    -ms-transform: translateX(-70px) !important;
    transform: translate3d(-70px, 0, 0) !important;
    -webkit-transform: translate3d(-70px, 0, 0) !important;
    -moz-transform: translate3d(-70px, 0, 0) !important;
    -o-transform: translate3d(-70px, 0, 0) !important;
    -ms-transform: translate3d(-70px, 0, 0) !important; } }

body {
  background-color: rgba(0, 0, 0, 0.07); }

img {
  max-width: 100%;
  height: auto; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 30px; }

/*HEADER */
header {
  text-align: center; }
  header h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 20px 0; }
    @media only screen and (max-width: 700px) {
      header h1 {
        margin: 40px 0; } }
  header nav a {
    display: inline-block;
    margin: 10px 20px;
    padding: 5px;
    border: solid 1px #d2d2d2;
    background-color: #fafafa;
    cursor: pointer; }
    @media only screen and (max-width: 700px) {
      header nav a {
        display: block; } }
  header nav a:hover {
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(150, 150, 150, 0.8); }

#top-page video {
  display: block;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  height: auto;
  z-index: -100;
  background-color: url(assets/img/Grunt.jpg) no-repeat;
  background-size: cover;
  cursor: pointer; }

#small-menu {
  background: #5a5a5a;
  visibility: hidden;
  outline: 0;
  position: absolute;
  top: 5px;
  left: 0;
  padding: 10px; }
  @media only screen and (max-width: 700px) {
    #small-menu {
      visibility: visible; } }
  #small-menu i {
    font-size: 25px;
    color: black; }

main {
  text-align: center;
  margin-bottom: 70px; }
  main #articles {
    width: auto; }
    main #articles .article {
      vertical-align: top;
      background-color: white;
      text-align: left;
      display: inline-block;
      width: 450px;
      margin: 5px;
      padding: 10px; }
      @media only screen and (max-width: 700px) {
        main #articles .article {
          display: block;
          width: auto;
          padding: 10px; } }
      main #articles .article img {
        margin: 5px;
        width: 150px; }
        @media only screen and (max-width: 700px) {
          main #articles .article img {
            width: 80px;
            float: left; } }
        @media only screen and (max-width: 370px) {
          main #articles .article img {
            display: inline;
            float: left; } }
      @media only screen and (max-width: 370px) {
        main #articles .article h2 {
          display: inline; } }
      main #articles .article p {
        padding: 0 5px;
        margin: 5px 0; }
        @media only screen and (max-width: 370px) {
          main #articles .article p {
            visibility: hidden;
            display: none; } }
      main #articles .article .intro {
        font-style: italic; }
        @media only screen and (max-width: 370px) {
          main #articles .article .intro {
            visibility: visible;
            display: block; } }

/*FOOTER */
footer {
  margin-top: 67px; }
  footer #text-footer {
    background-color: black;
    padding: 20px; }
    footer #text-footer p {
      color: white; }
  footer #top-footer {
    text-align: center; }
    footer #top-footer .notif {
      display: inline-block; }
      footer #top-footer .notif > * {
        vertical-align: middle;
        display: inline-block; }
      footer #top-footer .notif img {
        width: 50px;
        height: 50px;
        cursor: pointer; }
      footer #top-footer .notif p {
        padding: 5px;
        font-size: 10px;
        padding: 10px;
        border-radius: 15px;
        background-color: black;
        color: white; }
    footer #top-footer .arbres {
      text-align: left;
      margin-bottom: -9px;
      color: black;
      -moz-user-select: -moz-none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -o-user-select: none;
      user-select: none;
      height: 80px; }
      footer #top-footer .arbres > span {
        font-family: aierbazziregular;
        font-size: 80px; }
